
<div class="shadow alert alert-dismissible alert-@AlertType?.ToLower()" role="alert">
    @DisplayMessage
    <button type="button" class="btn-close" @onclick="DismissAlert"></button>
</div>

@code {

    private string? DisplayMessage => _notificationService.Message;
    private string? AlertType => _notificationService.AlertType;

    private void DismissAlert(MouseEventArgs e)
    {
        _notificationService.Reset();
        StateHasChanged();
    }

}