<header>
    <span class="header-title-wrapper">
        <h1>Rika</h1>
        <h6>Customer Management and Administration Portal</h6>
    </span>
    <div class="menu-toggle" onclick="toggleMenu()">☰</div>
</header>

@code {

}
