<aside class="sidebar" id="sidebar">
    <nav>
        <ul>
            <li><NavLink href="/"><i class="fas fa-home"></i> Home</NavLink></li>
            <li><a class="disabled"><i class="fas fa-life-ring"></i> Customer Support</a></li>
            <li><NavLink href="/customers" Match="NavLinkMatch.All"><i class="fas fa-users"></i> Manage Customers</NavLink></li>
            <li><a class="disabled"><i class="fas fa-box"></i> Manage Orders</a></li>
            <li><NavLink href="/products" Match="NavLinkMatch.All"><i class="fas fa-box-open"></i> Manage Products</NavLink></li>
            <li><a class="disabled"><i class="fas fa-box-open"></i> Manage Product Reviews</a></li>
            <li><a class="disabled"><i class="fas fa-chart-line"></i> Reports & Statistics</a></li>
            <li><a class="disabled"><i class="fas fa-cogs"></i> Settings</a></li>
        </ul>
    </nav>
</aside>