@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Net.Http.Headers
@rendermode InteractiveServer

@inject HttpClient Http
@inject IHttpContextAccessor HttpContextAccessor

<PageTitle>Home</PageTitle>

<div class="row mt-5 justify-content-around">
    <div class="col-auto">
        <section class="section-card">
            <h2>Pending Support Tickets</h2>
            <p>SThere are 5 unresolved support tickets</p>
            <button>Go</button>
        </section>
    </div>
    <div class="col-auto">
        <section class="section-card">
            <h2>Pending Product Reviews</h2>
            <p>There are 20 pending product reviews</p>
            <button>Go</button>
        </section>
    </div>
    <div class="col-auto">
        <section class="section-card">
            <h2>New Monthly Report</h2>
            <p>TThere's a new monthly product report available</p>
            <button>Go</button>
        </section>
    </div>
</div>

@code {
}