@page "/orderdetails/{OrderNumber:int}"
@using Rika_Backoffice_Webapp.Models
@inject OrderService _orderService


@if (Order == null)
{
    <p>Loading...</p>
}
else
{
    <div>
        @Order.OrderItems.Count.ToString()

    </div>
}


@code {
    [Parameter]
    public int OrderNumber { get; set; }

    private OrderModel? Order;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            Order = await _orderService.GetOrderByOrderNumberAsync(OrderNumber);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching order: {ex.Message}");
        }
    }
}
