@page "/products"

<h3>Products Management</h3>
<div>
    <div class="products-title">
        <h5>Please select one option</h5>
    </div>
    <div class="products-buttons">
        <a href="/products/create" class="btn">Create new product</a>
        <a href="/products/update" class="btn">Update product</a>
        <a href="/products/getone" class="btn">Find one product</a>
        <a href="/products/getall" class="btn">Find all products</a>
        <a href="/products/delete" class="btn">Delete one product</a>
    </div>
</div>

@code {

}
